{% extends "base.html" %}

{% block title %}Incubator{% endblock %}

{% block content %} 

  {% load i18n %}
  {% load staticfiles %}



    <div id="main_messages_row" class="row">
      <div id="main_alert" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-info">
          <!-- <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a> -->
          {# Translators: "Since time" message in home.html #}
          <p class="text-center">
            <strong>
              {% blocktrans with last_hatching_day=last_hatching_data|date:"l d" last_hatching_year=last_hatching_data|date:"M Y" last_hatching_hour=last_hatching_data|date:"h:i A" last_hatching_time=last_hatching_data|timesince hatching_end=end_date|timeuntil %}
              These eggs starts to hatch in {{ last_hatching_day }}th {{ last_hatching_year }} at {{ last_hatching_hour }}. {{ last_hatching_time }} ago. {{ hatching_end }} remaining.
              {% endblocktrans %}
            </strong>
          </p>
        </div>
      </div>
    </div>

    <div id="gauges_column" class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <div id="TEMP_gauge" class="well col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <center>
          <h2 class="text-center text-success">{% blocktrans %}Current Temperature{% endblocktrans %}</h2>
          <h1><p class="text-primary"><b id="TEMP">{{TEMP}} ºC</b></p></h1>
          <p class="text-center">{% blocktrans %}Do you want more detailed data about the temperature?{% endblocktrans %}</p>
          <button type="button" id="temperature_button" class="btn btn-success btn-block">{% blocktrans %}Temperature in detail{% endblocktrans %} >></button>
          </center>
      </div>
      <div id="HUMI_gauge" class="well col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <center>
          <h2 class="text-center text-success">{% blocktrans %}Current Humidity{% endblocktrans %}</h2>
          <h1><p class="text-primary"><b id="HUMI">{{HUMI}} %</b></p></h1>
          <p class="text-center">{% blocktrans %}Do you want more detailed data about the humidity?{% endblocktrans %}</p>
          <button type="button" id="humidity_button" class="btn btn-success btn-block">{% blocktrans %}Humidity in detail{% endblocktrans %} >></button>
        </center>
      </div>
      <hr/>
      <!-- <div id="exit_div" class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-lg-12">
        <center><a id="exit_button" class="btn btn-primary btn-lg btn-block btn-danger">{% blocktrans %}Exit and turn off the lights{% endblocktrans %}</a></center>
      </div>  -->
    </div>

    <div id="images_panel" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

      <div id="main_alert" class="row alert alert-success col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
          <p class="text-center">{% blocktrans %}You will only have <b>10 seconds</b> to see the eggs live, after click the button <b>"Take picture"</b> from each camera.</p>{% endblocktrans %}
          <p class="text-center">{% blocktrans %}This limit is placed because we don't want the eggs to be disturbed by the light being turned on. {% endblocktrans %}
          {% blocktrans %}Although, <b>you can see pictures of the eggs from days before.</b></p>{% endblocktrans %}
      </div>
      
      <div id="images_1" class="row well col-xs-12 col-sm-12 col-md-12 col-lg-12">    
        <div id="image_1_main_panel" class="panel col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div id="image_1_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img id="image_1" class="img-responsive"/>
            <button type="button" id="image_1_take_picture" class="btn btn-info btn-lg btn-block">{% blocktrans %}Take picture{% endblocktrans %}</button>
          </div>
        </div>
        <div id="image_1_second_panel" class="panel col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <p class="text-center text-primary">{% blocktrans %}Download images from previous days.{% endblocktrans %}</p>
            <div id="subimage_1_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div id="subimage_1_1_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a id="href_subimage_1_1" href="">
                  <img id="subimage_1_1" src="" class="img-responsive"/>
                  <p class="text-center">{{ two_days }}</p>
                </a>
              </div>
              <div id="subimage_1_2_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a id="href_subimage_1_2" href="">  
                  <img id="subimage_1_2" src="" class="img-responsive"/>
                  <p class="text-center">{{ four_days }}</p>
                </a>
              </div>
              <div id="subimage_1_3_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a id="href_subimage_1_3" href="">
                  <img id="subimage_1_3" src="" class="img-responsive"/>
                  <p class="text-center">{{ six_days }}</p>
                </a>
              </div>
            </div>
            <button type="button" id="image_1_button" class="btn btn-default btn-lg btn-block">{% blocktrans %}Show more{% endblocktrans %} >></button>
          </div>
        </div>

      <div id="images_2" class="row well col-xs-12 col-sm-12 col-md-12 col-lg-12">    
        <div id="image_2_main_panel" class="panel col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div id="image_2_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img id="image_2" class="img-responsive"/>
            <button type="button" id="image_2_take_picture" class="btn btn-info btn-lg btn-block">{% blocktrans %}Take picture{% endblocktrans %}</button>
          </div>
        </div>
        <div id="image_2_second_panel" class="panel col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <p class="text-center text-primary">{% blocktrans %}Download images from previous days.{% endblocktrans %}</p>
            <div id="subimage_2_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div id="subimage_2_1_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a id="href_subimage_2_1" href="">
                  <img id="subimage_2_1" src="" class="img-responsive"/>
                  <p class="text-center">{{ two_days }}</p>
                </a>
              </div>
              <div id="subimage_2_2_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a id="href_subimage_2_2" href="">  
                  <img id="subimage_2_2" src="" class="img-responsive"/>
                  <p class="text-center">{{ four_days }}</p>
                </a>
              </div>
              <div id="subimage_2_3_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a id="href_subimage_2_3" href="">
                  <img id="subimage_2_3" src="" class="img-responsive"/>
                  <p class="text-center">{{ six_days }}</p>
                </a>
              </div>
            </div>
            <button type="button" id="image_2_button" class="btn btn-default btn-lg btn-block">{% blocktrans %}Show more{% endblocktrans %} >></button>
          </div>
        </div>

       <div id="images_3" class="row well col-xs-12 col-sm-12 col-md-12 col-lg-12">    
        <div id="image_3_main_panel" class="panel col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div id="image_3_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img id="image_3" class="img-responsive"/>
            <button type="button" id="image_3_take_picture" class="btn btn-info btn-lg btn-block">{% blocktrans %}Take picture{% endblocktrans %}</button>
          </div>
        </div>
        <div id="image_3_second_panel" class="panel col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <p class="text-center text-primary">{% blocktrans %}Download images from previous days.{% endblocktrans %}</p>
            <div id="subimage_3_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div id="subimage_3_1_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a id="href_subimage_3_1" href="">
                  <img id="subimage_3_1" src="" class="img-responsive"/>
                  <p class="text-center">{{ two_days_date }}</p>
                </a>
              </div>
              <div id="subimage_3_2_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a id="href_subimage_3_2" href="">  
                  <img id="subimage_3_2" src="" class="img-responsive"/>
                  <p class="text-center">{{ four_days_date }}</p>
                </a>
              </div>
              <div id="subimage_3_3_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a id="href_subimage_3_3" href="">
                  <img id="subimage_3_3" src="" class="img-responsive"/>
                  <p class="text-center">{{ six_days_date }}</p>
                </a>
              </div>
            </div>
            <button type="button" id="image_3_button" class="btn btn-default btn-lg btn-block">{% blocktrans %}Show more{% endblocktrans %} >></button>
          </div>
        </div>
 
      </div>


      <div id="draws_column" class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div id="daily_draw" class="well col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
          <center>
            <h2 class="text-center text-success">{% blocktrans %}Egg representation{% endblocktrans %}</h2>
            <img id="image_draw" class="img-responsive"/>
            <p class="text-center"> {% blocktrans %}The above picture represents the egg with {{days}} days of hatching.{% endblocktrans %} </p>
            <!--<button type="button" id="temperature_button" class="btn btn-default btn-block">{% blocktrans %}Detailed temperatures{% endblocktrans %} >></button>-->
            </center>
        </div>
        <div id="svg" class="well col-xs-12 col-sm-12 col-md-12 col-lg-12"></div> 
      </div>


    <!-- take_picture Modal-->
    <div class="modal fade" id="take_picture_1_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="final_time_text" class="modal-title">{% blocktrans %}Current egg Image{% endblocktrans %}</h4>
          </div>
          <div class="modal-body">
            <p><center><img id="image_modal_1" width= "100%" class='img-responsive'></center></p>
          </div>
          <div class="modal-footer">
            <a id="download_image_1_modal" class="btn btn-info" href="" target="_blank">{% blocktrans %}Download image{% endblocktrans %}</a> 
            <a href="" id="continue_to_ranking" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Exit!{% endblocktrans %}</a>
          </div>
        </div><!-- end modal-content -->
      </div><!-- end modal-dialog -->
    </div><!-- end ranking_modal --> 

        <!-- take_picture Modal-->
    <div class="modal fade" id="take_picture_2_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="final_time_text" class="modal-title">{% blocktrans %}Current egg Image{% endblocktrans %}</h4>
          </div>
          <div class="modal-body">
            <p><center><img id="image_modal_2" width= "100%" class='img-responsive'></center></p>
          </div>
          <div class="modal-footer">
            <a id="download_image_2_modal" class="btn btn-info" href="" target="_blank">{% blocktrans %}Download image{% endblocktrans %}</a> 
            <a href="" id="continue_to_ranking" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Exit!{% endblocktrans %}</a>
          </div>
        </div><!-- end modal-content -->
      </div><!-- end modal-dialog -->
    </div><!-- end ranking_modal --> 

        <!-- take_picture Modal-->
    <div class="modal fade" id="take_picture_3_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="final_time_text" class="modal-title">{% blocktrans %}Current egg Image{% endblocktrans %}</h4>
          </div>
          <div class="modal-body">
            <p><center><img id="image_modal_3" width= "100%" class='img-responsive'></center></p>
          </div>
          <div class="modal-footer">
            <a id="download_image_3_modal" class="btn btn-info" href="" target="_blank">{% blocktrans %}Download image{% endblocktrans %}</a> 
            <a href="" id="continue_to_ranking" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Exit!{% endblocktrans %}</a>
          </div>
        </div><!-- end modal-content -->
      </div><!-- end modal-dialog -->
    </div><!-- end ranking_modal --> 

  </body>	

<script type="text/javascript">

two_days_date = {{ two_days_date }}
two_days = two_days_date.toString();
four_days_date = {{ four_days_date }}
four_days = four_days_date.toString();
six_days_date = {{ six_days_date }}
six_days = six_days_date.toString();

var href_subimage_1_1 = document.getElementById('href_subimage_1_1');
var subimage_1_1 = document.getElementById('subimage_1_1');
subimage_1_1.src =  "{% static "egg_programmed_images/image_1_" %}{{ two_days_date }}0000.jpg"
href_subimage_1_1.href = "{% static "egg_programmed_images/image_1_" %}{{ two_days_date }}0000.jpg"
var href_subimage_1_2 = document.getElementById('href_subimage_1_2');
var subimage_1_2 = document.getElementById('subimage_1_2');
subimage_1_2.src =  "{% static "egg_programmed_images/image_1_" %}{{ four_days_date }}0000.jpg"
href_subimage_1_2.href = "{% static "egg_programmed_images/image_1_" %}{{ four_days_date }}0000.jpg"
var href_subimage_1_3 = document.getElementById('href_subimage_1_3');
var subimage_1_3 = document.getElementById('subimage_1_3');
subimage_1_3.src =  "{% static "egg_programmed_images/image_1_" %}{{ six_days_date }}0000.jpg"
href_subimage_1_3.href = "{% static "egg_programmed_images/image_1_" %}{{ six_days_date }}0000.jpg"

var href_subimage_2_1 = document.getElementById('href_subimage_2_1');
var subimage_2_1 = document.getElementById('subimage_2_1');
subimage_2_1.src =  "{% static "egg_programmed_images/image_2_" %}{{ two_days_date }}0000.jpg"
href_subimage_2_1.href = "{% static "egg_programmed_images/image_2_" %}{{ two_days_date }}0000.jpg"
var href_subimage_2_2 = document.getElementById('href_subimage_2_2');
var subimage_2_2 = document.getElementById('subimage_2_2');
subimage_2_2.src =  "{% static "egg_programmed_images/image_2_" %}{{ four_days_date }}0000.jpg"
href_subimage_2_2.href = "{% static "egg_programmed_images/image_2_" %}{{ four_days_date }}0000.jpg"
var href_subimage_2_3 = document.getElementById('href_subimage_2_3');
var subimage_2_3 = document.getElementById('subimage_2_3');
subimage_2_3.src =  "{% static "egg_programmed_images/image_2_" %}{{ six_days_date }}0000.jpg"
href_subimage_2_3.href = "{% static "egg_programmed_images/image_2_" %}{{ six_days_date }}0000.jpg"

var href_subimage_3_1 = document.getElementById('href_subimage_3_1');
var subimage_3_1 = document.getElementById('subimage_3_1');
subimage_3_1.src =  "{% static "egg_programmed_images/image_3_" %}{{ two_days_date }}0000.jpg"
href_subimage_3_1.href = "{% static "egg_programmed_images/image_3_" %}{{ two_days_date }}0000.jpg"
var href_subimage_3_2 = document.getElementById('href_subimage_3_2');
var subimage_3_2 = document.getElementById('subimage_3_2');
subimage_3_2.src =  "{% static "egg_programmed_images/image_3_" %}{{ four_days_date }}0000.jpg"
href_subimage_3_2.href = "{% static "egg_programmed_images/image_3_" %}{{ four_days_date }}0000.jpg"
var href_subimage_3_3 = document.getElementById('href_subimage_3_3');
var subimage_3_3 = document.getElementById('subimage_3_3');
subimage_3_3.src =  "{% static "egg_programmed_images/image_3_" %}{{ six_days_date }}0000.jpg"
href_subimage_3_3.href = "{% static "egg_programmed_images/image_3_" %}{{ six_days_date }}0000.jpg"

$( document ).ready(function() {
    //$.get("lights/ALL/ON");
});

var image_draw = document.getElementById('image_draw');
image_draw.src = "{% static "img/day_" %}{{ days}}.png"

var image_1 = document.getElementById('image_1');
var image_2 = document.getElementById('image_2');
var image_3 = document.getElementById('image_3');

setInterval(function() {
  image_1.src = 'http://www.weblab.deusto.es/webcam/proxied.py/incubator1?rand=' + Math.random();
}, 200);

setInterval(function() {
  image_2.src = 'http://www.weblab.deusto.es/webcam/proxied.py/incubator2?rand=' + Math.random();
}, 6000);

setInterval(function() {
   image_3.src = 'http://www.weblab.deusto.es/webcam/proxied.py/incubator3?rand=' + Math.random();
}, 6000);

setInterval(function() {
  $.get("measures", function(data) {
    parsed_data = $.parseJSON(data);
    $('b[id=TEMP]').html(parsed_data.TEMP + 'ºC')
    $('b[id=HUMI]').html(parsed_data.HUMI + ' %')
  });
}, 10000);

$("#exit_button").click(function() {  
  $.get("lights/ALL/OFF").done(function( data ) {
    window.location.href = "http://google.com";
  });
});

$("#temperature_button").click(function() {  
  window.location.href = "/temperatures";
});

$("#humidity_button").click(function() {  
  window.location.href = "/humidities";
});

$("#image_1_button").click(function() {  
  window.location.href = "/show_more/1";
});

$("#image_2_button").click(function() {  
  window.location.href = "/show_more/2";
});

$("#image_3_button").click(function() {  
  window.location.href = "/show_more/3";
});

$("#image_1_take_picture").click(function() {
  $.get("retrieve_image/1", function(data) {
    parsed_data = $.parseJSON(data);
    //alert(parsed_data.url_image)
    image_modal_1.src = parsed_data.url_image
    download_image_1_modal.href = parsed_data.url_image
  });
  setTimeout(function() {
    $('#take_picture_1_modal').modal('show');
  }, 1000);
});


$("#image_2_take_picture").click(function() {  
  $.get("retrieve_image/2", function(data) {
    parsed_data = $.parseJSON(data);
    //alert(parsed_data.url_image)
    image_modal_2.src = parsed_data.url_image
    download_image_2_modal.href = parsed_data.url_image
  });
  setTimeout(function() {
    $('#take_picture_2_modal').modal('show');
  }, 1000);
});

// $("#image_3_take_picture").click(function() {  
//   $.get("retrieve_image/3", function(data) {
//     parsed_data = $.parseJSON(data);
//     //alert(parsed_data.url_image)
//     image_modal_3.src = parsed_data.url_image
//     download_image_3_modal.href = parsed_data.url_image
//   });
//   setTimeout(function() {
//     $('#take_picture_3_modal').modal('show');
//   }, 1000);
// });

</script>

{% endblock %}
<!--
http://www.weblab.deusto.es/webcam/incubator1/video.mjpeg
http://www.weblab.deusto.es/webcam/incubator2/video.mjpeg
http://www.weblab.deusto.es/webcam/incubator3/video.mjpeg
-->