{% extends "base.html" %}

{% block title %}Incubator{% endblock %}

{% block content %} 

  {% load staticfiles %}



    <div id="main_messages_row" class="row">
      <div id="main_alert" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-info">
          <!-- <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a> -->
          <p class="text-center"><strong>These eggs starts to hatch in {{ last_hatching_data|date:"l d"}}th {{ last_hatching_data|date:"M Y" }} at {{ last_hatching_data|date:"h:i A" }}. {{ last_hatching_data|timesince }} ago. {{ end_date|timeuntil }} remaining.</strong></p>
        </div>
      </div>
    </div>

    <div id="gauges_column" class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <div id="TEMP_gauge" class="well col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <center>
          <h2><span class="label label-success">Current Temperature</span></h2>
          <h1><p class="text-primary"><b id="TEMP">{{TEMP}} ºC</b></p></h1>
          <p class="text-center"> If you want more detailed data about the temperature of the eggs being hatch clink on the button below.</p>
          <button type="button" id="temperature_button" class="btn btn-default btn-block">Temperature in detail >></button>
          </center>
      </div>
      <div id="HUMI_gauge" class="well col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <center>
          <h2><span class="label label-success">Current Humidity</span></h2>
          <h1><p class="text-primary"><b id="HUMI">{{HUMI}} %</b></p></h1>
          <p class="text-center"> If you want more detailed data about the humidity of the eggs being hatch clink on the button below.</p>
          <button type="button" id="humidity_button" class="btn btn-default btn-block">Humidity in detail >></button>
        </center>
      </div>
      <hr/>
      <div id="exit_div" class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-lg-12">
        <center><a id="exit_button" class="btn btn-primary btn-lg btn-block btn-danger">Exit and turn off the lights</a></center>
      </div> 
    </div>

    <div id="images_panel" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

      <div id="main_alert" class="row alert alert-success col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
          <p class="text-center">You will only have <b>10 seconds</b> to see the eggs live, after click the button <b>"Take picture"</b> from each camera.</p>
          <p class="text-center">This limit is placed because we don't want the eggs to be disturbed by the light being turned on. </p> 
          <p class="text-center">Although, <b>you can see pictures of the eggs from days before.</b></p>
      </div>
      
      <div id="images_1" class="row well col-xs-12 col-sm-12 col-md-12 col-lg-12">    
        <div id="image_1_main_panel" class="panel col-xs-12 col-sm-12 col-md-4 col-lg-5">
          <div id="image_1_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img id="image_1" class="img-responsive"/>
            <button type="button" id="image_1_take_picture" class="btn btn-info btn-lg btn-block">Take picture</button>
          </div>
        </div>
        <div id="image_1_second_panel" class="panel col-xs-12 col-sm-12 col-md-4 col-lg-7">
            <p class="text-center text-primary">Download images from previous days.</p>
            <div id="subimage_1_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div id="subimage_1_1_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{% static "img/eggimage.jpg" %}">
                  <img id="subimage_1_1" src="{% static "img/eggimage.jpg" %}" class="img-responsive"/>
                  <p class="text-center">27 sept 2013</p>
                </a>
              </div>
              <div id="subimage_1_2_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{% static "img/eggimage.jpg" %}">  
                  <img id="subimage_1_2" src="{% static "img/eggimage.jpg" %}" class="img-responsive"/>
                  <p class="text-center">28 sept 2013</p>
                </a>
              </div>
              <div id="subimage_1_3_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{% static "img/eggimage.jpg" %}">
                  <img id="subimage_1_3" src="{% static "img/eggimage.jpg" %}" class="img-responsive"/>
                  <p class="text-center">29 sept 2013</p>
                </a>
              </div>
            </div>
            <button type="button" id="image_1_button" class="btn btn-default btn-lg btn-block">Show more >></button>
          </div>
        </div>

      <div id="images_2" class="row well col-xs-12 col-sm-12 col-md-12 col-lg-12">    
        <div id="image_2_main_panel" class="panel col-xs-12 col-sm-12 col-md-4 col-lg-5">
          <div id="image_2_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img id="image_2" class="img-responsive"/>
            <button type="button" id="image_2_take_picture" class="btn btn-info btn-lg btn-block">Take picture</button>
          </div>
        </div>
        <div id="image_2_second_panel" class="panel col-xs-12 col-sm-12 col-md-4 col-lg-7">
            <p class="text-center text-primary">Download images from previous days.</p>
            <div id="subimage_2_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div id="subimage_2_1_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{% static "img/eggimage.jpg" %}">
                  <img id="subimage_2_1" src="{% static "img/eggimage.jpg" %}" class="img-responsive"/>
                  <p class="text-center">27 sept 2013</p>
                </a>
              </div>
              <div id="subimage_2_2_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{% static "img/eggimage.jpg" %}">  
                  <img id="subimage_2_2" src="{% static "img/eggimage.jpg" %}" class="img-responsive"/>
                  <p class="text-center">28 sept 2013</p>
                </a>
              </div>
              <div id="subimage_2_3_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{% static "img/eggimage.jpg" %}">
                  <img id="subimage_2_3" src="{% static "img/eggimage.jpg" %}" class="img-responsive"/>
                  <p class="text-center">29 sept 2013</p>
                </a>
              </div>
            </div>
            <button type="button" id="image_2_button" class="btn btn-default btn-lg btn-block">Show more >></button>
          </div>
        </div>

      <div id="images_3" class="row well col-xs-12 col-sm-12 col-md-12 col-lg-12">    
        <div id="image_3_main_panel" class="panel col-xs-12 col-sm-12 col-md-4 col-lg-5">
          <div id="image_3_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img id="image_3" class="img-responsive"/>
            <button type="button" id="image_3_take_picture" class="btn btn-info btn-lg btn-block">Take picture</button>
          </div>
        </div>
        <div id="image_3_second_panel" class="panel col-xs-12 col-sm-12 col-md-4 col-lg-7">
            <p class="text-center text-primary">Download images from previous days.</p>
            <div id="subimage_3_panel" class="panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div id="subimage_3_1_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{% static "img/eggimage.jpg" %}">
                  <img id="subimage_3_1" src="{% static "img/eggimage.jpg" %}" class="img-responsive"/>
                  <p class="text-center">27 sept 2013</p>
                </a>
              </div>
              <div id="subimage_3_2_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{% static "img/eggimage.jpg" %}">  
                  <img id="subimage_3_2" src="{% static "img/eggimage.jpg" %}" class="img-responsive"/>
                  <p class="text-center">28 sept 2013</p>
                </a>
              </div>
              <div id="subimage_3_3_panel" class="panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{% static "img/eggimage.jpg" %}">
                  <img id="subimage_3_3" src="{% static "img/eggimage.jpg" %}" class="img-responsive"/>
                  <p class="text-center">29 sept 2013</p>
                </a>
              </div>
            </div>
            <button type="button" id="image_3_button" class="btn btn-default btn-lg btn-block">Show more >></button>
          </div>
        </div>

      </div>


      <div id="draws_column" class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div id="daily_draw" class="well col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
          <center>
            <h2><span class="label label-success">Egg representation</span></h2>
            <img id="image_draw" class="img-responsive"/>
            <p class="text-center"> The above picture represents the egg with {{days}} days of hatching. </p>
            <button type="button" id="temperature_button" class="btn btn-default btn-block">Detailed temperatures >></button>
            </center>
        </div>
        <div id="svg" class="well col-xs-12 col-sm-12 col-md-12 col-lg-12"></div> 
      </div>


    <!-- take_picture Modal-->
    <div class="modal fade" id="take_picture_1_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="final_time_text" class="modal-title">Current egg Image</h4>
          </div>
          <div class="modal-body">
            <p><center><img id="image_modal_1" width= "100%" class='img-responsive'></center></p>
          </div>
          <div class="modal-footer">
            <a id="download_image_1_modal" class="btn btn-info" download="egg_1_image.jpg">Download image</a> 
            <a href="" id="continue_to_ranking" class="btn btn-default" data-dismiss="modal">Exit!</a>
          </div>
        </div><!-- end modal-content -->
      </div><!-- end modal-dialog -->
    </div><!-- end ranking_modal --> 

        <!-- take_picture Modal-->
    <div class="modal fade" id="take_picture_2_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="final_time_text" class="modal-title">Current egg Image</h4>
          </div>
          <div class="modal-body">
            <p><center><img width= "100%" class='img-responsive'></center></p>
          </div>
          <div class="modal-footer">
            <a href="http://192.168.0.153/image.jpg" class="btn btn-info" download="eggimage.jpg">Download image</a> 
            <a href="" id="continue_to_ranking" class="btn btn-default" data-dismiss="modal">Exit!</a>
          </div>
        </div><!-- end modal-content -->
      </div><!-- end modal-dialog -->
    </div><!-- end ranking_modal --> 

        <!-- take_picture Modal-->
    <div class="modal fade" id="take_picture_3_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="final_time_text" class="modal-title">Current egg Image</h4>
          </div>
          <div class="modal-body">
            <p><center><img width= "100%" class='img-responsive'></center></p>
          </div>
          <div class="modal-footer">
            <a href="http://192.168.0.152/image.jpg" class="btn btn-info" download="eggimage.jpg">Download image</a> 
            <a href="" id="continue_to_ranking" class="btn btn-default" data-dismiss="modal">Exit!</a>
          </div>
        </div><!-- end modal-content -->
      </div><!-- end modal-dialog -->
    </div><!-- end ranking_modal --> 

  </body>	

<script type="text/javascript">
lights_ON = 1;

$( document ).ready(function() {
    //$.get("lights/ALL/ON");
});

var image_draw = document.getElementById('image_draw');
image_draw.src = "{% static "img/day_" %}{{ days}}.png"

var image_1 = document.getElementById('image_1');
var image_2 = document.getElementById('image_2');
var image_3 = document.getElementById('image_3');

setInterval(function() {
  image_1.src = 'http://192.168.0.156/image.jpg?rand=' + Math.random();
}, 3000);

setInterval(function() {
  image_2.src = 'http://192.168.0.153/image.jpg?rand=' + Math.random();
}, 3000);

setInterval(function() {
  image_3.src = 'http://192.168.0.152/image.jpg?rand=' + Math.random();
}, 3000);

setInterval(function() {
  $.get("measures", function(data) {
    parsed_data = $.parseJSON(data);
    $('b[id=TEMP]').html(parsed_data.TEMP + 'ºC')
    $('b[id=HUMI]').html(parsed_data.HUMI + ' %')
    if (lights_ON == 1) {
      //$.get("lights/ALL/ON")
    }
  });
}, 10000);

$("#exit_button").click(function() {  
  $.get("lights/ALL/OFF").done(function( data ) {
    window.location.href = "http://google.com";
  });
});

$("#temperature_button").click(function() {  
  window.location.href = "/temperatures";
});

$("#humidity_button").click(function() {  
  window.location.href = "/humidities";
});

$("#image_1_take_picture").click(function() {
    $.get("lights/1/ON");
    setTimeout(function (){
      image_modal_1.src = 'http://192.168.0.156/image.jpg?rand=' + Math.random();
      download_image_1_modal.href = image_modal_1.src
      $('#take_picture_1_modal').modal('show');
      $.get("lights/1/OFF");
    }, 2500);
});

$("#image_2_take_picture").click(function() {  
    $.get("lights/2/ON");
    setTimeout(function (){
      image_modal_1.src = 'http://192.168.0.153/image.jpg?rand=' + Math.random();
      download_image_1_modal.href = image_modal_1.src
      $('#take_picture_1_modal').modal('show');
      $.get("lights/2/OFF");
    }, 2500); 
});

$("#image_3_take_picture").click(function() {  
    $.get("lights/3/ON");
    setTimeout(function (){
      image_modal_1.src = 'http://192.168.0.152/image.jpg?rand=' + Math.random();
      download_image_1_modal.href = image_modal_1.src
      $('#take_picture_1_modal').modal('show');
      $.get("lights/3/OFF");
    }, 2500); 
});

</script>

{% endblock %}