{% extends "base.html" %}

{% block title %}Humidities{% endblock %}

{% block custom_head %}
  
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}"/>
  
{% endblock custom_head %}


{% block content %} 


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4><br/>
        <p class="text-center">
          <label for="time_amount">Time range (5 mins increments):</label>
          <input type="text" id="time_amount" style="border: 0; color: #f6931f; font-weight: bold;" />
        </p>
        <div id="slider-time"></div>
        <p></p>
        <p></p>
        <p class="text-center">
          <label for="datetime_amount">Days range:</label>
          <input type="text" id="datetime_amount" style="border: 0; color: #f6931f; font-weight: bold;" />
        </p>
        <div id="slider-datetime"></div>
        <br/>
        <center><button type="button" id="update_button" class="btn btn-lg btn-info">generate graphic >></button></center>
      </div></h4>

      <div id="graphics" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
        <p id="generating" class="text-center text-primary"></p>
        <center><img id="temps_graphic" src={{ url_image }} class="img-responsive"/></center>
      </div>
  </div>

<script>
$("#update_button").click(function() {
  $("#temps_graphic").hide();
  $("#generating").show();
  $("#generating").html("<br><br><h4><b>Generating graphic!</b></h4><p class=\"text-danger\">This can take several time depending on the parameters selected!</p>");
  time_val = $("#time_amount").val();
  time_val_splitted = time_val.split(" ")

  date_val = $( "#datetime_amount" ).val() 
  date_val_splitted = date_val.split(" ")

  $.post( "/humidities", { mins: time_val_splitted[0], start_day: date_val_splitted[1], end_day: date_val_splitted[4]}, function( data ) {
    url_image_data = data;
    $("#generating").hide()
    $("#temps_graphic").attr("src", url_image_data.url_image );
    $("#temps_graphic").show();
  });


});
</script>

<script>
  $(function() {
    $( "#slider-time" ).slider({
      value:15,
      min: 5,
      max: 180,
      step: 5,
      slide: function( event, ui ) {
        $("#time_amount").val( ui.value + " mins");
      }
    });
    $("#time_amount").val($("#slider-time").slider("value") + " mins" );
  });


  $(function() {
    $( "#slider-datetime" ).slider({
      range: true,
      min: 1,
      max: 22,
      values: [3, 5],
      slide: function( event, ui ) {
        $( "#datetime_amount" ).val( "day " + ui.values[0] + " to day " + ui.values[ 1 ] );
      }
    });
    $( "#datetime_amount" ).val( "day " + $( "#slider-datetime" ).slider( "values", 0 ) +
      " to day " + $( "#slider-datetime" ).slider( "values", 1 ) );
  });


  </script>

{% endblock %}